/* Modificações ao Styles raiz */
nav{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,1) 50%,  rgba(255, 255, 255, 0) 100%);
}
nav a{
    color: black;
}
.sol:hover{
    color: white;
}
.lua:hover{
    color: white;
}

body{
    background-image: url("../Imgs/ImgFundo/Lua.png");
}


/* Perfil */
.perfil a{
    color: white;
    background: linear-gradient(90deg, rgba(9, 0, 0, 0) 0%, rgb(56, 7, 89) 100%);
}

/* Imagens */
.boxImgs img {
    border: 2px solid rgb(138, 22, 216);
}
.boxImgs img:hover{
    box-shadow: 3px 6px 8px rgba(138, 22, 216);
}
#imgGrande{
    width: 60%;
    height: 48%;
}

/* Responsividade */
@media screen and (max-width: 1200px){
    ::-webkit-scrollbar-thumb{
        background-color: purple;
    }
}