/* Modificações ao Styles raiz */
header{
    color: black;
}

body{
    background-image: url("../Imgs/ImgFundo/Sol.png");
    overflow: hidden;
}


/* Perfil */
.perfil img{
    border-radius: 50%;
}
.perfil a{
    color: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(252,176,69) 100%);
}

/* Imagens */
.boxImgs img {
    border: 2px solid black;
}
.boxImgs img:hover{
    box-shadow: 6px 8px 1px rgba(54, 54, 54, 0.608);
}
#boxImgsEsquerda img{
    height: 100%;
}
#boxImgsDireita img{
    height: 48%;
}

/* Responsividade */
@media screen and (max-width: 1200px){
    ::-webkit-scrollbar-thumb{
        background-color: orange;
    }
}